@import '/packages/enketo-core/src/sass/core/main';
@import '/packages/enketo-core/src/sass/core/responsive';
@import '../component/widgets';
@import '/packages/enketo-core/src/sass/core/dropdown';
@import '/packages/enketo-core/src/sass/grid/main';


/* =========================================================
   OVERRIDES 1
   ========================================================= */

a::not(.option-label) {
 color: #9d2235 !important;
}

a::not(.option-label):hover {
 color: #333333 !important;
}

.question .btn-default.dropdown-toggle {
 margin-bottom: 5px !important;
}

.main {
 padding: 120px 0 70px 0 !important;
}

.paper {
 border-radius: 10px !important;
}

.form-header {
 top: -85px !important;
}

.or > h3,
.or-group > h3 {
color: #9D2235 !important;
}

.or > h4,
.or-group > h4 {
 color: #9D2235 !important;
}

.or-group .or-group > h4 .active {
  font-size: 100% !important;
}

.or-group .or-group > h4 .active::before,
.or-group .or-group .or-group > h4 .active::before,
.or-group .or-group .or-group .or-group > h4 .active::before,
.or-group .or-group .or-group .or-group .or-group > h4 .active::before,
.or-group .or-group .or-group .or-group .or-group .or-group > h4 .active::before,
.or-group .or-group .or-group .or-group .or-group .or-group > h4 .active::before {
  content: none !important;
}

.option-label {
  margin-top: 0 !important;
}

select,
.widget {
  margin: 0 !important;
}

.bootstrap-select {
 margin-top: 0 !important;
}

.bootstrap-select .dropdown-toggle ~ .dropdown-menu .option-wrapper {
 padding-left: 15px !important;
 padding-top: 8px !important;
}

.question input[type='radio']:checked {
  border-color: #9D2235 !important;
  background-image: radial-gradient(circle, #9D2235 4px, white 4px) !important;
}

.question input[type='checkbox'] {
 border-radius: 3px !important;
}

#form-title {
 border-bottom: 1px solid #e8e8e8 !important;
}

.btn.remove, .vex.vex-theme-plain .remove.vex-dialog-button {
  margin-right: 6px !important;
  margin-left: -10px !important;
}

.form-header__branding img {
  max-height: none !important;
  max-width: none !important;
  height: 45px !important;
}

.form-progress {
  background-color: #66afe9 !important;
}

.custom-error-msg.active,
.or-required-msg.active,
.or-constraint-msg.active,
.or-relevant-msg.active,
.invalid-value-msg.active {
  color: #f54542 !important;
}


/* =========================================================
   OVERRIDES 2
   ========================================================= */

h3 {
  color: #9D2235 !important;
}

.or-group, 
.or-repeat {
  border: none !important;
  background: transparent !important;
  margin: 0px !important;
  margin-top: 15px !important;
  margin-bottom: 10px !important;
  outline-color: transparent !important;
}

.or-group > h4 {
  background: transparent !important;
  color: #9d2235 !important;
  margin: 0 !important;
  padding: 15px 0px 0px 0px !important;
  font-size: 100% !important;
  border-bottom: 1px solid #e8e8e8 !important;
}

.or-group.or-appearance-compact > h4 {
  margin-bottom: 0px !important;
}

.or-group:not(.or-appearance-no-collapse) > h4 {
  > span {
    pointer-events: all !important;
    cursor: pointer !important;
  }

  > span:hover {
    background: #e4f4ff !important;
  }
}

.or-group:not(.or-appearance-no-collapse) > h4::before {
    left: -20px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: none;
    border-top: none;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
}

.or-group:not(.or-appearance-no-collapse).or-appearance-compact > h4::before {
    left: -20px;
    top: 8px;
    width: 8px;
    height: 8px;
    border-right: 2px solid #333333;
    border-bottom: 2px solid #333333;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    transition: transform 0.3s ease;
}

.question-label {
  margin-bottom: 8px !important;
  font-weight: bold !important;
  width: 100% !important;
}

.question:has(input.empty) > .question-label {
  font-weight: normal !important;
}

.question {
  background: transparent !important;
  padding: 0px !important;
  margin-top: 18px !important;
  border: none !important;
  min-width: 80px !important;
}

.or-group .question {
  padding-left: 17px !important;
}

.or-repeat > .question {
  margin-left: 0px !important;
}

.or-group > .or-group,
.or-repeat > .or-group {
  margin-left: 17px !important;
}

.or-group > .or-repeat {
  margin: 0px !important;
  margin-top: 10px !important;
  padding: 0px !important;
  border: 0px !important;
  border-radius: 0px !important;
  border-bottom: 1px double #e8e8e8 !important;
}

.or-hint {
  font-size: 90% !important;
  font-style: normal !important;
  margin-bottom: 10px !important;
}

.question input[type="text"],
.question input[type="number"],
.question input[type="date"],
.question input[type="tel"],
.question input[type="email"],
.question select,
.question textarea {
  padding: 8px 12px !important;
  font-size: 95% !important;
  background-color: #fbfbfb96 !important;
  border: 1px solid #dedede !important;
  border-radius: 4px !important;
  width: 100% !important;
  min-width: 100% !important;
  max-width: 100% !important;
  flex-grow: 0 !important;
  flex-shrink: 0 !important;
  color: #333333 !important;
}

.question input:focus, 
.question select:focus,
.question textarea:focus {
  box-shadow: 0 0 0 3px #e4f4ff !important;
}

.question input[type="radio"] {
  cursor: pointer !important;
}

.question .dropdown-toggle {
  background-color: #fbfbfb96 !important;
  padding: 8px 12px !important;
  font-size: 95% !important;
  border: 1px solid #dedede !important;
  border-radius: 4px !important;
  height: 34px !important;
  color: #333333 !important;
  opacity: 1 !important;
}

.or-repeat-info {
  border: none !important;
}

.add-repeat-btn {
  background: transparent !important;
  border: none !important;
  width: 100% !important;
  padding: 10px !important;
  text-align: left !important;
  color: #9d2235 !important;
}

.add-repeat-btn:hover {
  text-decoration: underline !important;
}

.add-repeat-btn::after {
  content: " Afegir";
}

.repeat-number {
  font-size: 95% !important;
  font-weight: normal !important;
  left: auto !important;
  right: 100% !important;
  top: 14px !important;
  padding: 3px 10px !important;
  border-radius: 100% !important;
  background: #e8e8e8 !important;
  color: #9D2235 !important;
}

.btn-reset  {
  display: none !important;
}

.repeat-buttons {
  height: 30px !important;
  margin-top: 11px !important;
  justify-content: flex-start !important;
}

.repeat-buttons .remove {
  margin: 0px !important;
  height: 30px !important;
  padding: 10px !important;
  background-color: transparent !important;
  color: #9d2235 !important;
}

.repeat-buttons .remove:hover {
  text-decoration: underline !important;
}

.repeat-buttons .remove::after {
  content: " Eliminar";
}

.or-repeat:has(> .repeat-buttons > .remove:hover) {
  outline: 3px dashed #ffeaea !important;
  border-color: transparent !important;
}

@keyframes repeat-added-flash {
  0% {
    outline: 3px dashed #4caf50 !important;
    border-color: transparent !important;
  }
  100% {
    outline: 3px dashed transparent !important;
    border-color: transparent !important;
  }
}

.or-repeat.repeat-added {
  animation: repeat-added-flash 1.5s ease-out forwards !important;
}

.required {
  left: 5px !important;
  color: #9D2235 !important;
}

legend .required {
  left: -12px !important;
}

form > .question > .required {
  left: -12px !important;
}

.question input[type='checkbox']:checked {
  border-color: #9D2235;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20stroke%3D%27%239D2235%27%20fill%3D%27%239D2235%27%20width%3D%2732%27%20height%3D%2732%27%20viewBox%3D%270%200%2032%2032%27%3E%3Cpath%20d%3D%27M25.1%2012.5l-3.4-3.3-8%208-2.9-3-3.4%203.4%206.3%206.3z%27%2F%3E%3C%2Fsvg%3E");
}

.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: #e4f4ff !important;
}

.form-header__button--print {
  cursor: pointer !important;
}

.paper {
  border: 1px solid #e3e3e3 !important;
  box-shadow: none !important;
  padding-top: 30px !important;
}

.or-group:not(.or-appearance-compact) {
  padding-bottom: 20px !important;
  border-bottom: 1px solid #e8e8e8 !important;
}

.question legend {
  margin-bottom: 0px !important;
}

.btn.remove .icon {
  margin: 0 8px;
}

.or-repeat:not(:has(.repeat-buttons)) {
  padding-bottom: 20px !important;
}

.or-group:not(.or-appearance-compact):has(> .or-repeat):not(:has(.add-repeat-btn)) {
  border-bottom: 0 !important;
  padding-bottom: 0px !important;
}

.or-appearance-invoice-extractor:not(:has(.invoice-extractor)) {
  display: none !important;
}


/* =========================================================
   OVERRIDES TEMPORALS
   ========================================================= */

.duplicate {
  display: none !important;
}

.add-repeat-btn::after {
  content: none !important;
}

.repeat-buttons .remove::after {
  content: 'Eliminar entrada';
}

.repeat-buttons .remove > i {
  display: none !important;
}

.form-footer__content__jump-nav {
  margin-top: 35px !important;
  margin-bottom: 10px !important;
  width: 100% !important;
  
  > .btn-default {
    border: none !important;
    opacity: 1 !important;
  }
}

.first-page.disabled, .last-page.disabled {
  opacity: 0.4 !important;
}

.previous-page {
  left: auto !important;
  bottom: -10px !important;
  text-decoration: none !important;
}

.previous-page:hover {
  text-decoration: underline !important;
}

.enketo-power {
  display: none !important;
}

.pages-toc {
  display: none !important;
}

@media screen and (max-width: 1100px) {

  .main {
    padding-top: 0px !important;
  }

  .form-header {
    top: -15px !important;
  }

  .form-header__button--print {
    display: block !important;
  }
}

.form-version {
  text-align: right;
  font-size: 12px;
  color: #999;
  padding: 10px 0;
}

.invoice-file-name {
  font-size: 1.2rem !important;
  font-weight: normal !important;
}

.file-list-header {
  margin-top: 10px !important;
  text-align: left !important;
  font-weight: normal !important;
}

.success-header {
  margin-bottom: 0 !important;
}

.invoice-status {
  margin-bottom: 0 !important;
}
